<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.lucassabreu.aulacodesquad">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
            O intent-filter pode ser usada para disponibilizar a activity responda a
            eventos eternos do android ou de outras aplicações.
            a chamada também pode ser usada internamente na aplicação
          -->

        <activity android:name=".SecondActivity">
            <intent-filter>
                <action android:name="io.github.lucassabreu.aulacodesquad.ACTION_SECOND_ACTIVITY" />
            </intent-filter>
        </activity>
    </application>

</manifest>